/* components/DynamicComponent.module.css */
/* .container {
  padding-left: 140px;
  display: flex;
  
}

.conrainerData {
  padding-right: 10px;
}

.title {
  margin-bottom: 16px;
  margin-top: 45px;
  color: white;
}

.subtitle {
  margin-bottom: 16px;
  color: white;
}

.description {
  margin-bottom: 30px;
  color: white;
}

.button {
  font-size: 22px;
  text-decoration: underline;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 18px;
  align-items: center;
}

.features {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
}

.feature {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 40px;
  height: 40px;
}

.caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
}

@media (max-width: 1378px) {
  .imageContainer {
    display: none;
  }
} */




/* components/DynamicComponent.module.css */
.container {
  padding-left: 140px;
  display: flex;
  position: relative;
}

.conrainerData {
  flex: 0 0 70%;
  padding-right: 20px;
}

.imageContainer {
  flex: 0 0 30%;
  position: relative;
  height: 100%;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.title {
  margin-bottom: 16px;
  margin-top: 45px;
  color: white;
}

.subtitle {
  margin-bottom: 16px;
  color: white;
}

.description {
  margin-bottom: 30px;
  color: white;
}

.button {
  font-size: 22px;
  text-decoration: underline;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 18px;
  align-items: center;
}

.features {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-between;
}

.feature {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 40px;
  height: 40px;
}

.caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: white;
}

@media (max-width: 1378px) {
  .container {
    padding-left: 20px;
    flex-direction: column;
  }
  
  .conrainerData {
    flex: 0 0 100%;
    width: 100%;
  }
  
  .imageContainer {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    margin-top: 20px;
    height: 300px;
  }
}